:root {
	--primary-r: 34;
	--primary-g: 38;
	--primary-b: 41;
	--primary: rgb(var(--primary-r), var(--primary-g), var(--primary-b));
    --secondary: #cf6000;
    --accent: #f87401;
    --accent-text: #dddddd;
    --text-colour: #6b6e70;
    --chatbox-background: #474b4f;
	font-size: 20px;
}

body {
	background-color: var(--primary);
	color: var(--text-colour);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: flex;
	flex-flow: column;

	padding: 0;
	margin: 0;
	height: 100vh;
}

div#message-container {
	display: flex;
	width: auto;
	height: calc(100vh - 4em);
	overflow-y: scroll;

	flex-direction: column;
	flex-grow: 1;
}

div#toolbar {
	height: 3em;
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 0.5em;
	padding-top: 0.4em;
	width: calc(100vw - 1em);

	background-color: var(--primary);

	border-top: 0.1em solid rgb(calc(var(--primary-r) * 1.1), calc(var(--primary-g) * 1.1), calc(var(--primary-b) * 1.1));
}

div#text-entry-container {
	height: inline-flex;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

input#text-entry {
	display: block;
	margin: auto;
	height: calc(1.5em + .75rem);
	width: 100%;
	border-radius: 0.5rem;

	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;

	background-clip: padding-box;

	margin-right: 0.2em;
	margin-left: 0.2em;
}

div#emotes {
	width: 3em;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

button#emote-button {
	display: block;

	min-height: 2.5rem;
	min-width: 2.5rem;
	max-height: 2.5rem;
	max-width: 2.5rem;

	background-color: transparent;
	box-shadow: none;
	outline: none;
	border-radius: 100%;

	margin: 0;
}

button#emote-button:first-child {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Buttons */
.btn {
	background-color: var(--accent) !important;
	color: var(--accent-text) !important;

	border: 3px outset rgba(255,105,0,0.51) !important;
	border-radius: 15px;

	margin-top: 0px;
	margin-bottom: 0px;

	outline: none;
}
.btn:hover {
	filter: brightness(110%);
}
.btn:active {
	filter: brightness(90%);
	border-style: inset !important;
	box-shadow: inset 20px 20px 60px #b25200,
            	inset -20px -20px 60px #f07000;
}

/* Anchor */
a {
	color: var(--secondary);
}
a:hover {
	color: var(--accent);
	text-decoration: none;
}
a:focus {
	background-color: inherit !important;
	color: var(--accent) !important;
	outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--secondary);
}

/* Input */
.form-control {
	background-color: var(--chatbox-background) !important;
	color: var(--text-colour) !important;
}

input[type=text], textarea {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid var(--primary);
}

.btn:focus, .btn:hover, input[type=text]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px var(--accent) !important;
	border: 1px solid var(--accent);
}

/* Selection */
::selection {
	background: var(--accent); /* WebKit/Blink Browsers */
	color: var(--accent-text);
}
::-moz-selection {
	background: var(--accent); /* Gecko Browsers */
	color: var(--accent-text);
}

img {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/* Scrollbars */
#message-container::-webkit-scrollbar-track {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--primary);
}

#message-container::-webkit-scrollbar {
	width: 12px;
	background-color: var(--primary);
}

#message-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px var(--accent);
	background-color: var(--secondary);
}


/* Message Formatting */
.message {
	display: inline-flex;
	justify-content: left;
	background-color: var(--primary);

	padding-left: 1em;
	padding-right: 1em;
}
.message:hover {
	background-color: rgb(calc(var(--primary-r) * 0.9), calc(var(--primary-g) * 0.9), calc(var(--primary-b) * 0.9));
}

.avatar {
	border-radius: 100%;

	min-height: 2.5em;
	min-width: 2.5em;
	max-height: 2.5em;
	max-width: 2.5em;

	padding: 0.25em 0;

	margin: 0.2em 0.3em;
}
.content {
	display: grid;
	width: 100%;
	margin: 0.2em 0.3em;
}

.message-text {
	overflow-wrap: break-word;
}

.concat {
}
.concat > .content {
	margin-top: 0;
}
.concat::before {
	display: block;
	min-width: 2.5em;
	max-width: 2.5em;
	margin: 0.2em 0.3em;
	margin-top: 0;
	content: "";
}

.username {
	font-weight: 500;
}

.timestamp {
	margin-left: 0.5em;
	font-size: calc(1em * 0.8);
}